<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户编辑</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/momentjs/min/moment-with-locales.js}"></script>
    <link th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}" rel="stylesheet"></script>
</head>
<body>
<h1>用户编辑</h1><br>
<form action="/edit" method="post" th:object="${user}" >
    <input type="hidden" name="id" id="id" th:value="*{id}"/>
    <div class="form-group">
        <label for="username">用户名</label>
        <input th:value="*{username}" name="username" type="text" class="form-control" id="username" placeholder="用户名">
    </div>
    <div class="form-group">
        <label for="editPassword">密码</label>
        <input th:value="*{password}" name="password" type="text" class="form-control" id="editPassword" placeholder="密码">
    </div>
    <div class="form-group">
        <label for="datetimepicker">注册日期</label>
        <div class="col-sm-6 input-group" >
            <input  name="regdate" type="text" class="form-control"  id="datetimepicker" placeholder="注册日期">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="userStatus">用户状态</label>
        <div class="input-group">
            <input th:value="*{status}" name="status" type="text"  class="form-control "  id="userStatus" >
        </div>

    </div>
    <div>
        <button type="submit" class="btn btn-default">保存</button>
        <a th:href="@{/list}" class="btn btn-default">返回</a>
    </div>

    <script th:inline="javascript">
        $(function () {
        $('#datetimepicker').datetimepicker({
                format:'YYYY-MM-DD HH:mm:ss',
                locale:moment.locale('zh-cn'),
                defaultDate:/*[[${user.regdate}]]*/"1990-1-1"
            });
        });
    </script>
</form>
</body>
</html>