<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{common/layout::header}"></header>
    <div class="container">
        <table class="table-hover table">
            <caption>学生名单</caption>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>院系</th>
            </tr>
            <tr>
                <td>
                    2019001
                </td>
                <td>张无忌<span class="glyphicon-fire glyphicon " style="color:red"></span></td>
                <td>计算机学院</td>
            </tr>
            <tr>
                <td>
                    2019002
                </td>
                <td>令狐冲<span class="glyphicon-fire glyphicon " style="color:red"></span></td>
                <td>计算机学院</td>
            </tr>

        </table>
        <button type="button" class="btn-success btn">按钮一枚</button>
    </div>

<header th:replace="~{common/layout::footer}"></header>
    <script>
        $(function () {
            $(".btn").click(function () {
                alert("hello webjars");
            })
        })
    </script>
</body>
</html>