<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <table>
       <tr>
           <th>学号</th>
           <th>姓名</th>
       </tr>
       <tr th:each="stu:${students}">
           <td  th:text="${stu.id}">000</td>
           <td  th:text="${stu.name}"></td>
       </tr>
   </table>
<table>
    <tr>
        <th>编号</th>
        <th>位置</th>
        <th>学号</th>
        <th>姓名</th>
    </tr>
    <tr th:each="stu,status:${students}" th:class="${status.odd}?'odd':'even'">
        <td  th:text="${status.index}">000</td>
        <td  th:text="${status.count}+'/'+${status.size}">000</td>
        <td  th:text="${stu.id}">000</td>
        <td  th:text="${stu.name}"></td>
    </tr>
</table>
</body>
</html>