<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf/org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:object="${stu}">
        id=<p th:text="*{id}"> id </p>
        name=<p th:text="*{name}"> name </p>
    </div>

<p th:text="#{home.province}"></p>
<p th:text="#{home.city}"></p>
<img th:src="@{images/wlop.jpg}"/>
<a th:href="@{https://image.duckflew.cn/img/blog_inner_image20210102214303.png}" th:text="${hrefMsg}" >
</a>
<p th:if="${flag}">flag!=空</p>
<p th:unless="${flag}">flag==空</p>


<div th:each="item:${strings}">
    <p th:text="${item}">默认条款</p>
</div>
</body>
</html>